@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #F5F5F5;
    margin: 0px 160px 80px 160px;
}

/* shared styles */
.banner-title{
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 56px;
}

.secondery-subtitle{
    font-family: "Fira Sans";
    font-weight: medium;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.50);
}

.secondery-subtitle-bold{
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.80);
}

.title{
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: bold;
}

.dex{
    font-family: "Fira Sans";
    font-size: 16px;
    color: rgba(14, 14, 14, 0.70);

}

.bold-dex{
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: bold;
    color: black;
}

select{
    width: 152px;
    height: 44px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(198, 228, 214, 1.00);
    color: black;
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 16px;
}

.news-text{
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.80);
    margin: 0;
    padding: 0;
}

/* colors */
.blue{
    background-color: rgba(84, 144, 245, 0.20);
}
.green{
    background-color: rgba(198, 228, 214, 1.00);
}
.yellow{
    background-color: rgba(247, 235, 207, 1.00);
    
}
/* buttons */
.banner-btn{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    font-family: "Fira Sans";
    text-align: center;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.btn-blue{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: white;
    background-color: rgba(84, 144, 245, 1.00);
    border: none;
    font-size: 16px;
}

.btn-green{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: white;
    background-color: rgba(9, 161, 92, 1.00);
    font-size: 16px;
    border: none;
}

.btn-yellow{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    color: white;
    background-color: rgba(255, 194, 57, 1.00);
    font-size: 16px;
    border: none;
}

.btn-donate{
    width: 252px;
    height: 128px;
    border-radius: 16px;
    border: none;
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.80);
    background-color: white;
}

.btn-donate:hover{
    border: 4px solid rgba(9, 161, 92, 1.00);;
}

.btn-donate:focus{
    background-color: rgba(198, 228, 214, 1.00);
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 740px;
    margin: 120px 0px ;
    background-color: #C6E4D6;
    padding: 0px 60px 0px 60px;
    border-radius: 24px;
}

.banner-content{
    width: 622px;
    height: 325px;
    margin: 117px 64px 117px 60px;
    /* margin: 117px 60px 0px 60px; */
}

#banner-pfp{
    width: 474px;
    height: 400px;
    margin: 120px 60px 80px 0px;
}

/* pillars styles */
.pillars{
    margin: 80px 0px 80px 0px;
}

.pillar-content{
    display: flex;
    justify-content: space-between;
}

.pillar{
    max-width: 302px;
    height: auto;
    padding: 24px;
    background-color: white;
    border-radius: 16px;
}

/* vision styles */
.vision-content{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.vision-point{
    max-width: 410px;
    padding: 30px;
    border-radius: 16px;
}

.pm-quote{
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 48px 24px 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 0px 0px 24px;
}

/* table styles */
.table-conatainer{
    border-radius: 16px;
    background-color: white;
    padding: 32px;
    align-items: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

thead th{
    text-align: left;
}

thead th:nth-child(2){
    text-align: right;
}

td{
    border: 1px solid black;
    padding: 36px 24px 36px 24px;
}

tr{
    max-width: 1280px;
}

/* news styles */

.news-card{
    margin-top: 32px;
    display: flex;
    gap: 32px;
    background-color: white;
    padding: 40px;
    border-radius: 24px;
    justify-content: space-between;
}

.news-content{
    width: auto;
    
}

.news-img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

/* donate styles */
.donate-content{
    text-align: center;
}

.donate-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.donate{
    padding: 0px 88px 0px 88px;
    justify-items: center;
}

.tk-input input{
    justify-content: center;
    text-align: center;
    margin: 32px 124px 32px 124px;
    width: 1032px;
    height: 64px;
    font-family: "Fira Sans";
    font-size: 20;
    color: rgba(14, 14, 14, 0.30);
    border-radius: 16px;
    border: none;
}

.tk-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit{
    width: 151px;
    height: 56px;
}

/* sub styles */
.sub-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-card{
    margin-top: 80px;
    width: auto;
    height: auto;
    background-color: rgba(198, 228, 214, 1.00);
    border-radius: 24px;
}

.sub-input input{
    justify-content: center;
    text-align: center;
    margin: 0px;
    width: 600px;
    height: 55px;
    font-family: "Fira Sans";
    font-size: 20;
    color: rgba(14, 14, 14, 0.30);
    border-radius: 16px;
    border: none;
}

.sub-input{
    display: flex;
}

footer{
    background-color: white;
    margin-right, margin-left: 0px;
    padding: 0px;
}

.footer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}